* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(#009688 15%, #DBDBD2 15%);
}

#app {
    display: flex;
    width: 80vw;
    height: calc(100vh - 40px);
    margin: 20px auto;
    box-shadow: 1px 1px 2px lightgrey;
    background-color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    border-right: 1px solid lightgrey;
}

.user-tab {
    height: 70px;
    background-color: #eaeaea;
    padding: 10px;
}

.avatar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.avatar-box_user {
    display: flex;
    align-items: center;
    height: 100%;
}

.avatar-box_user img {
    height: 100%;
    border-radius: 50%;
}

.avatar-box_user p {
    font-size: 18px;
    font-weight: 600;
    margin-left: 4px;
}

.avatar-box_buttons i {
    margin: 0 5px;
    color: #b1b1b1;
    cursor: pointer;
}

.notification-tab_text-box a:hover, .avatar-box_buttons i:hover, .selected-contact_buttons i:hover, .input-bar i:hover {
    color: rgb(69, 69, 69)
}

.notification-tab {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #8EDAFC;
    overflow: auto;
}

.bell-box {
    background-color: white;
    padding: 12px;
    border-radius: 50%;
    color: #8EDAFC;
    margin: 0 12px;
}

.notification-tab_text-box a {
    color: rgb(101, 101, 101);
    font-size: 14px;
}

.search-tab {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #FAFAFA;
    border-bottom: 1px solid rgba(211, 211, 211, 0.40);
    padding: 8px;
}

.search-tab .search-button, .search-tab .search-input {
    height: 100%;
    border: 1px solid lightgrey;
    background-color: white;
}

.search-tab .search-button {
    color: #b1b1b1;
    padding: 0 20px;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.search-button:hover > i {
    transform: scale(120%);
}

.search-tab .search-input {
    width: 100%;
    padding: 0 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.contacts-scroll {
    flex-grow: 1;
    background-color: white;
    overflow: auto;
}

.contact {
    display: flex;
    height: 70px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.40);
    padding: 10px 6px;
    cursor: pointer;
}

.contact:hover {
    background-color: #F4F5F5;
}

.contact .contact-text, .selected-contact_text {
    margin: 0 16px;
    flex-grow: 1;
}

.contact h3 {
    font-size: 16px;
}

.contact p, .selected-contact_info p {
    font-size: 12px;
    margin-top: 4px;
    color: rgb(159, 159, 159);
}

.contact img, .selected-contact_info img {
    height: 100%;
    border-radius: 50%;
}

.contact .contact_last-message-time {
    font-size: 10px;
    color: #b1b1b1;
}

.main-screen {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.active-contact-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
    padding: 16px;
}

.selected-contact_info {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.40);
    padding: 10px 6px;
}

.active-contact-tab i {
    margin: 0 5px;
    color: #b1b1b1;
    cursor: pointer;
}

.chat-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-position: center;
    overflow: auto;
}

.chat_row {
    display: flex;
    margin: 30px 40px 0;
    width: 100%;
    justify-content: flex-end;
}

.my-message, .user-message {
    padding: 18px 24px;
    border-radius: 6px;
    font-size: 16px;
    max-width: 65%;
}

.my-message {
    /* justify-self: flex-end;  BUG */
    background-color: #d5f9ba;
}

.user-message {
    background-color: white;
}

.input-bar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #E6DFD6;
    padding: 14px 0;
}

.input-bar .emoji-button, .input-bar .rec-button {
    padding: 10px 30px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.input-bar .input-bar_message-input {
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 6px;
}